[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.0"
dash = "==2.14.2"
dash-bootstrap-components = "==1.5"
dash-leaflet = "==0.1.23"
dash-mantine-components = "==0.12.1"
pytz = "==2022.7.1"
requests = "==2.28.2"
dash-extensions = "==1.0.7"
pvlib = "==0.9.4"
pythermalcomfort = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"

[dev-packages]
seaborn = "*"
numba = "*"
psychrolib = "*"
scipy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
